.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, .8) 100%),
    url(../../assets/netflixBG.jpg);
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    form {
      display: flex;
      justify-content: center;
      width: 25%;
      height: 70vh;
      // margin-top: 100px;
      margin: 100px auto auto auto;
      padding: 30px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, .6);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        font-weight: 400;
      }

      input {
        height: 40px;
        border: none;
        border-radius: 2px;
        background-color: gray;
        color: white;
        padding-left: 10px;
        font-size: 1rem;
        font-weight: 300;

        &::placeholder {
          color: lightgray;
        }
      }

      button {
        height: 40px;
        border-radius: 5px;
        background-color: red;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        cursor: pointer;
      }

      span {
        color: lightgray;

        b {
          color: white;
        }
      }
    }
  }
}